.text-box {
    border: 2px solid green;
    border-radius: 100px;
    padding: 5px;
    background-color: red;
    color: white;
}

#para {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: chocolate;
}

h3{
    color: crimson;
}